<div class="container">
    <h1>Student Creation</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First Name:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="student.firstName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last Name:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="student.lastName"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="createNewStudent()" class="btn btn-small btn-primary">Create New Student</a>
            </div>
        </div>
    </form>
</div>
